@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-snow .ql-tooltip::before {
  content: "Image URL:" !important;
}
.landing {
  background-image: url("/type.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-origin: content-box;
  background-size: contain;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}
